<div class="container col-md-6">
    <h1 style="color: red;">Add Employee Form</h1>

    <form class="md-3">

        <div>
            <label for="exampleFormControlInput11" class="form-lebel">Employee Id</label>
            <input type="text" class="form-control" id="" name="">
        </div>
        <div>
            <label for="exampleFormControlInput11" class="form-lebel">First Name</label>
            <input type="text" class="form-control" id="" name="">
        </div>
        <div>
            <label for="exampleFormControlInput11" class="form-lebel">Last Name</label>
            <input type="text" class="form-control" id="" name="">
        </div>
        <div>
            <label for="exampleFormControlInput11" class="form-lebel">Email</label>
            <input type="email" class="form-control" id="" name="">
        </div>
 <br>
        <div>
            <button type="submit" class="btn btn-primary">Resister Employee</button>
        </div>
    </form>

</div>